<!-- Products -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product ID/SKU</th>
            <th>Name</th>
            <th>Tag(s)</th>
            <th>Price</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Stock</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for product in productList %}
        <tr>
            <td>{{ product.get_SKU() }}</td>
            <td>{{ product.get_productName() }}</td>
            <td>{{ product.get_tag() }}</td>
            <td>{{ product.get_price() }}</td>
            <td>{{ product.get_desc() }}</td>
            <td>{{ product.get_photo() }}</td>
            <td>{{ product.get_stock() }}</td>
            <td><a href="/updateproduct/{{product.get_productID()}}" class="btn btn-warning">Update</a></td>
            <td>
                <form action="{{url_for('deleteProduct', id=product.get_SKU())}}" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product?');">
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Orders -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Paid</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for order in orderList %}
        <tr>
            <td>{{ order.get_orderID() }}</td>
            <td>{{ order.get_productName() }}</td>
            <td>{{ order.get_quantity() }}</td>
            <td>{{ order.get_price() }}</td>
            <td>{{ order.get_totalPaid() }}</td>
            <td>{{ order.get_Email() }}</td>
            <td><a href="/updateorder/{{product.get_orderID()}}" class="btn btn-warning">Update</a></td>
            <td>
                <form action="{{url_for('deleteOrder', id=order.get_SKU())}}" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this order?');">
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
